- include_stylesheet 'admin/people'
%h1 New Person
- form_for ['admin',@person] do |f|
  .form-area
    - @person_form = f
    - render_region :person_info do |person_info|
      = render 'form', :f => f
  %p.buttons
    - render_region :buttons do |buttons|
      = save_model_button(@person)
      = save_model_and_continue_editing_button(@person)
      or
      = link_to 'Cancel', admin_people_path